<div class="container">
  <h1>Create a new list</h1>

  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.input :image_url, as: :file %>
    <%= f.submit %>
  <% end %>

  <%= link_to "All lists", lists_path %>
</div>
