<div class="container">
  <div class="header-list-card">
    <div class="header-title">
      <%= link_to lists_path do %>
        <i class="fas fa-chevron-circle-left"></i>
      <% end %>
      <h1><%= @list.name %></h1>
    </div>
    <div class="header-button">
      <%= link_to "Add a new movie", new_list_bookmark_path(@list), class: "btn btn-outline-dark" %>
    </div>
  </div>

  <hr/>

  <div class="movies-card">
    <% @bookmarks.each do |bookmark| %>
      <div class="movie-card">
        <%= image_tag(bookmark.movie.poster_url, height: '400', class:"movie-poster") %>

        <div class="movie-card-infos">
          <div class="rating-tag">
            <h4><%= bookmark.movie.rating.ceil(2) %></h4>
          </div>

          <div class="movie-card-footer">
            <div class="movie-card-text">
              <h2><%= bookmark.movie.title %></h2>
              <p><%= bookmark.comment %></p>
            </div>
            <%= link_to bookmark_path(bookmark),
            data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{bookmark.movie.title} from your #{@list.name} list"} do %>
              <i class="fa fa-minus-circle"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
