<h1><%= @list.name %></h1>

<% @bookmarks.each do |bookmark| %>

  <div class="movie-card">
    <%= image_tag(bookmark.movie.poster_url, height: '500', class:"movie-poster") %>
    <h4><%= bookmark.movie.title %></h4>
    <p><%= bookmark.comment %></p>

    <%= link_to bookmark_path(bookmark),
     data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{bookmark.movie.title} from your #{@list.name} list"} do %>
      <i class="fa fa-minus-circle"></i>
    <% end %>
  </div>

<% end %>


<%= link_to "Add a new movie", new_list_bookmark_path(@list) %>


<%= link_to "All lists", lists_path %>
